<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jatekvalaszto</title>
</head>
<body>
    <h1>Ezek a jelenleg futó/elérhető játékok!</h1>
    <table border="3">
        <tr>
            <td>aknaszám</td>
            <td>egyik</td>
            <td>masik</td>
            <td>nyertes</td>
            <td>nev</td>
        </tr> 
        {% for jatek in jatekok %}
            <tr>
                <td>{{jatek.aknaszám}}</td>
                <td>{{jatek.egyik}}</td>
                <td>{{jatek.masik}}</td>
                <td>{{jatek.nyertes}}</td>
                <td>{{jatek.nev}}</td>
            </tr>        
        {% endfor %}        
    </table>
</body>
</html>