<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>itt indíthatsz játékot</h1>
    <form action="../letrehoz/" method="post">
        {% csrf_token %}
        <div>
            <p>Név:</p>
            <input type="text" name="nev" id="nev">
        </div>
        <div>
            <p>Aknaszám:</p>
            <input type="number" name="aknaszam" id="aknaszam">
        </div>
    <a href="http://127.0.0.1:8000/minesweper" class="button">create</a>
</body>
</html>